name: github pages
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: |
          hugo \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    if: github.event_name == 'push'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
  check_links:
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run Broken Link Checker
        run: |
          uvx linkchecker https://new.glyphack.pages.dev/ \
            --timeout=30 \
            --user-agent 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36' \
            --check-extern \
            --no-warnings \
            --ignore-url 'linkedin\.com' \
            --ignore-url 'facebook\.com' \
            --ignore-url 'twitter\.com' \
            --ignore-url 'x\.com' \
            --ignore-url 'http://www.catb.org/~esr/' \
            --ignore-url 'https://datagenetics.com' \
            --ignore-url 'https://cacm.acm.org/blogs/blog-cacm/153780-data-mining-the-web-via-crawling/fulltext' \
            --ignore-url 'https://www.washingtonpost.com/wp-srv/national/longterm/' \
            --ignore-url 'https://www.cloudflare.com/en-gb/learning/bots/what-is-rate-limiting/' \
            --ignore-url 'ttps://www.science.org/content/article/people-would-rather-be-electrically-shocked-left-alone-their-thoughts' \
            --ignore-url 'https://docs.confluent.io/platform/current/installation/configuration/consumer-configs.html#consumerconfigs_max.poll.interval.ms'
